$blue: hsl(223, 87%, 63%);
$pale-blue: hsl(223, 100%, 88%);
$light-red: hsl(354, 100%, 66%);
$gray: hsl(0, 0%, 59%);
$very-dark-blue: hsl(209, 33%, 12%);
$font-stack: 'Libre Franklin', sans-serif;
$font-size: 20px;

html {
    box-sizing: border-box;
}

*::before *::after {
    box-sizing: inherit;
}

body, h1, h2, p {
    margin: 0;
}

input, button {
    font: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    min-height: 100vh;
    font-size: $font-size;
    font-family: $font-stack;
    color: $very-dark-blue;
    text-align: center;
    display: flex;
    flex-direction: column;
}

%mobile-padding {
    padding: 2rem;
    margin: 0 auto;
}

section {
    margin: 2rem 0;
}

header {
    @extend %mobile-padding;
    padding-top: 5rem;
    flex: none;

    img {
        margin: auto;
        height: 1.2rem;
    }
}

main {
    @extend %mobile-padding;
    padding: 0 2rem;
    flex: auto;

    .text {
        margin-top: 0;

        h1 {
            font-size: 1.5rem;
            color: $gray;
            font-weight: 400;
    
            span {
                color: $very-dark-blue;
                font-weight: 600;
            }
        }

        p {
            font-size: .9rem;
            margin: 1rem 0;
        }
    }

    .email {
        display: grid;

        %input-style {
            border-radius: 1.5rem;
            margin: .5rem;
            padding: .8rem 2rem;
            font-size: .8rem;
            border: 1px solid $pale-blue;
        }

        input[type=email] {
            @extend %input-style;
            color: $pale-blue;
        }

        input[type=submit] {
            @extend %input-style;
            background-color: $blue;
            border-color: $blue;
            color: white;
            font-weight: 600;
            cursor: pointer;
            box-shadow: 0px 5px 7px 2px #4f7df350;
        }

        input[type=submit]:hover {
            background: hsl(223, 87%, 63%, 0.8);
            border-color: hsl(223, 87%, 63%, 0.8);
        }

        input[type=email].invalid {
            border-color: $light-red;
        }

        p.invalid {
            display: block;
        }

        .empty, .formatting {
            color: $light-red;
            font-size: .7rem;
            display: none;
        }

    }

    img {
        margin: 2rem 0;
    }
}

footer {
    @extend %mobile-padding;
    flex: none;
    color: $gray;

    .socials {
        text-align: center;
        margin-bottom: 1rem;

        ion-icon {
            color: $blue;
            padding: .4rem;
            border-radius: 50%;
            border: 1px solid #4f7df350;
            margin: .3rem;
        }

        ion-icon:hover {
            border-color: $blue;
            background: $blue;
            color: white;
        }
    }

    .copyright {
        font-size: .7rem;
    }

    .attribution { 
        margin: .5rem 0;
        font-size: 11px; text-align: center; 
    }

    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }
}

@media (min-width: 35rem) {
    header {
        
        img {
            height: 1.5rem;
        }
    }

    main {
        max-width: 40rem;

        .text {
            h1 {
                font-size: 2.7rem;
            }
    
            p {
                font-size: 1.2rem;
            }
        }

        .email {
            input {
                grid-row: 1/2;
            }

            input[type=email] {
                padding: 1rem 2rem;
            }
    
            input[type=submit] {
                padding: 1rem 2rem;
                font-size: 1rem;
            }

            .empty, .formatting {
                grid-row: 2/3;
            }
        }
    }

    .email {
        grid-template-columns: repeat(auto-fit, minmax(9rem, auto));
    }
}