$blue: hsl(223, 87%, 63%);
$pale-blue: hsl(223, 100%, 88%);
$light-red: hsl(354, 100%, 66%);
$gray: hsl(0, 0%, 59%);
$very-dark-blue: hsl(209, 33%, 12%);
$font-stack: 'Libre Franklin', sans-serif;
$font-size: 20px;

*, *::before *::after {
    box-sizing: border-box;
}

body, h1, h2, p {
    margin: 0;
}

input, button {
    font: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    min-height: 100vh;
    font-size: $font-size;
    font-family: $font-stack;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }